#nav li a {
text-decoration: none;
    font-size:30px;
    font-family:Comic Sans MS;
    width:100%;
    display:inline-block;
    text-align:center;
    }
#nav{
    text-align: center;
    width:100%; 
}
#nav li {
    display:inline-block;

}

* {
    background-color:black;
}
#logo img {
display:block;
margin-left: auto;
margin-right: auto;
}
#welcome {
font-family: Comic Sans MS;
    Font-size:50px;
}
#nav {
    border:10px dashed yellow;
}
*{
    font-family: Comic Sans MS;
}

#nav{
    text-align: center;
    width:100%; 
}

#logo p {
    text-align:center;
    font-size:100px;
    font-family:Century Gothic;
    color:red;
}